<launch>

  <!-- launch robot state publisher -->
  <param name="robot_description" command="$(find xacro)/xacro $(find hover_bringup)/urdf/hoverpi.urdf.xacro" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> 

  <!-- velocity smoother -->
  <include file="$(find hover_bringup)/launch/velocity_smoother.launch" />

  <!-- Teleop-->
  <include file="$(find hover_bringup)/launch/teleop.launch" />

  <node name="motor_interface" pkg="hover_bringup" type="motor_interface_node" output="screen" >
    <param name="wheel_separation" value="0.5"/>
    <param name="wheel_radius" value="0.09"/>
    <param name="left_wheel" value="left_wheel_joint"/>
    <param name="right_wheel" value="right_wheel_joint"/>
    <param name="publish_rate" value="50"/>
    <remap from="~odom" to="/odom" />

    <rosparam param="pose_covariance_diagonal"> [0.001, 0.001, 1000000.0, 1000000.0, 1000000.0, 1000.0] </rosparam>
    <rosparam param="twist_covariance_diagonal"> [0.001, 0.001, 1000000.0, 1000000.0, 1000000.0, 1000.0] </rosparam>
  </node>

  <!-- Laser Scanner RPLidar -->
  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
    <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>  
    <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
    <param name="frame_id"            type="string" value="base_laser_link"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
    <param name="scan_mode"           type="string" value="Boost"/>
    <remap from="scan" to="laserscan" />
  </node>
</launch>
